<div layout-padding>
    <h1 class="md-display-1" ng-if="vm.isnew">添加美景</h1>
    <h1 class="md-display-1" ng-if="!vm.isnew">修改美景</h1>
    <md-card>
        <div layout-padding>
            <form name="village_view">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>标题</label>
                        <input ng-model="vm.village_view.village_view_title">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>作者</label>
                        <input ng-model="vm.village_view.village_view_author">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs ng-if="!vm.isnew">
                        <label>状态</label>
                        <md-select ng-model="vm.village_view.village_view_status">
                            <md-option ng-repeat="state in ['未发布','已发布']" ng-value="state">
                                {{state}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>图片</label>
                        <input ng-model="vm.village_view.village_view_img">
                    </md-input-container>
                </div>
                <img ng-src="{{vm.village_view.village_view_img}}" alt="" style="height:100px">
                <lf-ng-md-file-input lf-files="files" submit lf-on-submit-click="vm.onSubmitClick" aria-label="fileupload" lf-browse-label="浏览..." lf-remove-label="删除" lf-submit-label="上传"></lf-ng-md-file-input>
            </form>
        </div>
    </md-card>
    <h1 class="md-display-1">美景内容</h1>
    <md-card>
        <div layout-padding>
            <md-input-container class="md-block" flex-gt-xs>
                <text-angular ng-model="vm.village_view.village_view_content"></text-angular>
            </md-input-container>
        </div>
        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="vm.publicvillage_view()" ng-if="vm.isnew">发布</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.editlog()" ng-if="!vm.isnew">修改</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.savevillage_view()" ng-if="vm.isnew">保存草稿</md-button>
        </section>
    </md-card>
</div>