<div layout-padding>
    <h1 class="md-display-1" ng-if="vm.isnew">撰写自治内容</h1>
    <h1 class="md-display-1" ng-if="!vm.isnew">修改自治内容</h1>
    <md-card>
        <div layout-padding>
            <form name="zizhi">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>标题</label>
                        <input ng-model="vm.zizhi.zizhi_title">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>作者</label>
                        <input ng-model="vm.zizhi.zizhi_author">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs ng-if="!vm.isnew">
                        <label>状态</label>
                        <md-select ng-model="vm.zizhi.zizhi_status">
                            <md-option ng-repeat="state in ['未发布','已发布']" ng-value="state">
                                {{state}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-card>
    <h1 class="md-display-1">文章内容</h1>
    <md-card>
        <div layout-padding>
            <md-input-container class="md-block" flex-gt-xs>
                <text-angular ng-model="vm.zizhi.zizhi_content"></text-angular>
            </md-input-container>
        </div>
        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="vm.publiczizhi()" ng-if="vm.isnew">发布</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.editlog()" ng-if="!vm.isnew">修改</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.savezizhi()" ng-if="vm.isnew">保存草稿</md-button>
        </section>
    </md-card>
</div>